@using Stekeblad.MoreCmsReports.DataModels;

@model InaccessibleContentLocatorData

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Inaccessible Content Report</title>
</head>
<body>
    <h1 id="top">Inaccessible Content</h1>

    <p>
        The Inaccessible Content report lists pages, blocks, images and other files that does not appear to be accessible
        to site visitors. Never delete anything without trying to verify if it can safetly be deleted as some special case
        implementations on your site may not work with this analysis and no automatic scan is perfect.
    </p>
    <p>
        You can quickly find content in episerver by copying the content id from below. When you are in edit mode
        you will see something like "epi.cms.contentdata:///5" in the url, replace the number (in this case 5) with
        the copied ID and press enter to jump to that content.
    </p>

    <h2>Types with inaccessible content</h2>

    @if (Model.TypesWithInaccessibleContent.Count == 0)
    {
        <p>Nothing was found, you do a great job managing the content on this site!</p>
    }
    else
    {
        <p>Click on type name to jump to its location in the report</p>
        <ul>
            @foreach (TypeAccessabilityReport typeReport in Model.TypesWithInaccessibleContent)
            {
                <li><a href="#@typeReport.TypeName">@typeReport.TypeName</a> (@typeReport.InaccessibleUsages out of @typeReport.TotalUsages usages inaccessible)</li>
            }
        </ul>

        foreach (TypeAccessabilityReport typeReport in Model.TypesWithInaccessibleContent)
        {
            <h3 id="@typeReport.TypeName">@typeReport.TypeName</h3>

            <table>
                <thead>
                    <tr>
                        <th>Content Name</th>
                        <th>Content Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ContentReportItem reportItem in typeReport.Usages)
                    {
                        <tr>
                            <td>@reportItem.ContentName</td>
                            <td>@reportItem.ContentLinkId</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <a href="#top">Back to page top</a>
            <br />
        }
    }


    @if (Model.TypesWithNoUsages.Count > 0)
    {
        <h2>Types that is not used at all</h2>
        <p>The following types may be safe to delete by the site developers but could also have some other purpose</p>
        <ul>
            @foreach (TypeAccessabilityReport typeReport in Model.TypesWithNoUsages)
            {
                <li>@typeReport.TypeName</li>
            }
        </ul>
    }

    @if (Model.TypesWithoutIssues.Count > 0)
    {
        <h2>Types that passed</h2>
        <p>This report has no issues to report on for the following types</p>
        <ul>
            @foreach (TypeAccessabilityReport typeReport in Model.TypesWithoutIssues)
            {
                <li>@typeReport.TypeName</li>
            }
        </ul>
    }

</body>
</html>